.THIS .createTransactionButton{

    background-color: hsl(128, 100%, 30%);
    color:white;
}

.THIS .createTransactionButton:hover{

    background-color: hsl(128, 100%, 40%);
    color:white;
}

.THIS .createTransactionButton:focus{

    background-color: hsl(128, 100%, 40%);
    color:white;   
}